<div class="text-center">
  <h1>THE TECH BLOG</h1>
  <div>
    View all posts
    {{#each posts}}
      <span>{{title}} Posted by {{user.name}} </span>
    {{/each}}
  </div>
  <a href="/newpost">+ new post</a>
</div>
