<div>
    <h1> New Post Info</h1>

    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Enter a title">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" placeholder="Enter a description">
    </div>
    <button id="create-post">Create</button>
</div>
<script src="/js/newPost.js"></script>